section.consumption
  .container
    .row
      .col-sm-12
        h5 Rechtliche Hinweise
      .col-sm-6
        p * Gemäß den jeweils gültigen Hersteller- bzw. Mobilitätsgarantiebedingungen und den Bedingungen zum Kia-Navigationskarten-Update. Einzelheiten erfahren Sie bei uns.
        p ** Kia-Wartung: bis zu 7 Jahre bzw. max. 105.000 km. Wartung gemäß Wartungsplan, inklusive Schmierstoffe, exklusive Verschleißteile.

        p a.) Ein Angebot für Privatkunden und Gewerbekunden ohne Kia Rahmenvertrag.
        p b.) Gültig für von Kia Motors Deutschland GmbH bezogene Kia Neuwagen mit Kaufvertragsabschluss zwischen dem 1. Januar 2014 und 31. Dezember 2014.
        p c.) Angebot und weitere Details nur bei teilnehmenden Kia-Vertragshändlern.
        p d.) Wartungsarbeiten im Rahmen des 7-Jahre-Kia-Wartungsprogramms bietet nur der teilnehmende Kia-Vertragspartner an.
        p e.) Angebot gilt nicht für ATTRACT und ATTRACTplus Ausstattung und ist nicht kumulierbar mit anderen Verkaufsförderungsprogrammen/-aktionen und gewährten Rabatten.

      .col-sm-6

        p Kraftstoffverbrauch Kia Picanto in l/100 km: innerorts 5,8-5,4; außerorts 3,8-3,6; kombiniert 4,5-4,2; CO2-Emission kombiniert 105-99 g/km.
        p Kraftstoffverbrauch Kia Rio in l/100 km: innerorts 8,4-4,2; außerorts 5,3-3,5; kombiniert 6,4-3,8; CO2-Emission: kombiniert 150-99 g/km.
        p Kraftstoffverbrauch Kia cee'd in l/100 km: innerorts 8,4-4,2; außerorts 4,8-3,6; kombiniert 6,1-3,8; CO2-Emission kombiniert 143-100 g/km.
        p Kraftstoffverbrauch Kia cee’d Sportswagon in l/100 km: innerorts 8,8-5,3; außerorts 5,3-4,0; kombiniert 6,6-4,4; CO2-Emission kombiniert 148-116 g/km.
        p Kraftstoffverbrauch Kia Venga in l/100 km: innerorts 8,3-5,7; außerorts 5,7-4,2; kombiniert 6,5-4,7; CO2-Emission: kombiniert 154-125 g/km.
        p Kraftstoffverbrauch Kia Sportage in l/100 km: innerorts 8,7-6,8; außerorts 6,0-5,1; kombiniert 6,9-5,7; CO2-Emission: kombiniert 179-149 g/km.
        p Kraftstoffverbrauch Kia Carens in l/100 km: innerorts 9,3-6,3; außerorts 5,8-4,6; kombiniert 7,1-5,2; CO2-Emission: kombiniert 164-137 g/km.
        p Kraftstoffverbrauch Kia Sorento in l/100 km: innerorts: 12,5 – 7,3; außerorts: 7,2 – 5,0; kombiniert: 9,1 – 5,8, CO2 – Emission: kombiniert: 212 – 153 g/km.
        p Kraftstoffverbrauch Kia Soul in l/100 km: innerorts: 9,1 – 6,1; außerorts: 6,3– 4,4; kombiniert: 7,3 – 5,0, CO2 – Emission: kombiniert: 170 – 132 g/km.

        p  Alle Kraftstoffverbrauchs- und Emissionswerte wurden nach dem vorgeschriebenen Messverfahren VO/EG/715/2007 in der jeweils gültigen Fassung ermittelt.

        h6 DAT Leitfaden:

        p Weitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emission neuer Personenkraftwagen können dem ‘Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen’ entnommen werden, der an allen Verkaufsstellen und bei der DAT Deutsche Automobil Treuhand GmbH, Hellmuth-Hirth-Straße 1, 73760 Ostfildern oder unter www.dat.de unentgeltlich erhältlich ist.


        p Kraftstoffverbrauch in l/100 km kombiniert 9,1-3,2; innerorts 12,5-3,5; außerorts 7,2-3,0. CO2-Emission: kombiniert 212-85 g/km. Nach Messverfahren RL 1999/94/EG.  Energieeffizienzklassen: E,D,C,B,A,A+
        p Weitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emission neuer Personenkraftwagen können dem ‘Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen’ entnommen werden, der an allen Verkaufsstellen und bei der DAT Deutsche Automobil Treuhand GmbH, Hellmuth-Hirth-Straße 1,  73760 Ostfildern oder unter www.dat.de unentgeltlich erhältlich ist.
