<!-- build:js /assets/js/kia.min.js -->

block footer-skripts

  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')


  if debug

    script.
      var d = window.location.host.split(':')[0];
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.src = "http://" + d + ':'+ #{livereload} +'/livereload.js'; $( "head" ).append(s);


  // do notdelete
<!-- endbuild -->
