.col-sm-12#probefahrtform2

  h4 Jetzt Probefahrt vereinbaren
  p
    | Ihre angegebenen personenbezogenen Daten erheben, verarbeiten und
    | nutzen wir ausschließlich zur Durchführung bzw. Abwicklung der
    | Probefahrtvereinbarung. Soweit Sie uns nicht ausdrücklich eine
    | anderweitige Verwendung Ihrer Daten gestatten werden Ihre Daten
    | ausschließlich gespeichert, verarbeitet und genutzt, soweit und solange
    | dies zur Durchführung und Abwicklung der Probefahrtvereinbarung erforderlich ist.
    | Hierzu bedienen wir uns ggf. auch gem. §11 des Bundesdatenschutzgesetzes
    | beauftragten und weisungsgebundenen Dienstleistern (Auftragsdatenverarbeitern).

button#probefahrtform2_submit.btn.btn-huge.btn-info Jetzt Probefahrt vereinbaren
