doctype html
html(lang="en")
  head
    title NAME

    link(href='/css/app.css', rel='stylesheet', type='text/css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
