extends ./layouts/base


block content
  h1 Index Yodfgdfgdfgdgdfdfff saas  ss
  h2 Mongo Wengo Pengo SSS
  
  
  h2= conf.title
  p= conf.description
  p 
  | andere Seite
  a(href="/index2.html") Index2
  
