mixin carmodel(model, img, head, descr)
  article.carmodel
    img(src= img, alt='')
    h6= head
    p= descr
    ul
      each val in attributes.list
        li= val
    a(data-scrollto="#probefahrtform", data-modelselect= model).scrollnav.modelselector.btn.btn-primary Jetzt Probefahren


section.content-26
  .container#aktionsmodelle
    .row
      .col-sm-10.col-sm-offset-1
        h3 SIEBEN GUTE GRÜNDE UMZUSTEIGEN
        p.lead Wer überirdischen Fahrspaß „in Dortmund“ erleben will, liegt mit der DREAM-TEAM Edition genau richtig. Und zwar exakt sieben Mal: Kia Picanto, Rio, cee´d, cee´d Sportswagon, Venga, Sportage und Carens. Lassen Sie sich in unendliche Ausstattungswelten entführen. Denn die Editionsmodelle warten mit vielen Extras wie dem beheizbaren Multifunktionslenkrad oder der Traktionskontrolle auf. Profitieren Sie von attraktiven Kundenvorteilen „bei Ihrem Autohaus Heinen“, von traumhaft günstigen Finanzierungsangeboten – und natürlich vom 7-Jahre-Kia-Qualitätsversprechen, das für alle Modelle der DREAM-TEAM Edition gilt.


  .slider.multiple-items
    div
      +carmodel('picanto', '/assets/img/modell_picanto_300x260.png', 'Kia Picanto DREAM-TEAM', 'Spontan in die City? Der Kia Picanto ist ebenso durchzugsstark wie umweltfreundlich und macht jede verrückte Idee mit. Und weil Details spielentscheidend sein können, sind einzigartige Kia-Qualitätsversprechen mit 7-Jahre-Kia-Herstellergarantie, 7-Jahre Mobilitätsgarantie und 7-Jahre-Kia-Wartung sowie serienmäßige Extras inklusive z.B.')(list= ['Lenkrad beheizbar', 'Sitzheizung vorn', 'Klimaanlage',
'Zentralverrieglung mit Funkfernbedienung','Elektrische Fensterheber'])
    div
      +carmodel('rio', '/assets/img/modell_rio_300x260.png', 'Kia Rio DREAM-TEAM', 'Sehr vielseitig ist auch der Kia Rio. Ein standfester, extrem spritsparender Begleiter, der auf Langstrecken eine ebenso gute Figur macht wie bei wendigen Manövern. Als Kia DREAM-TEAM Edition mit hohem Kundenvorteil, dem einzigartigen 7 Jahre-Kia-Qualitätsversprechen und vielen serienmäßigen Extras z.B.:')(list= ['Parksensoren hinten', 'elektrische Fensterheber','Regensensoren', 'Klimaautomatik','Lenkrad beheizbar', 'Sitzheizung (vorn)'])
    div
      +carmodel('ceed', '/assets/img/modell_ceed_300x260.png', 'Kia cee’d DREAM-TEAM', 'Den WM-Titel holt man sich nicht nur mit ausgereifter Technik. Es gehören auch kluge Strategie, spielerisches Feingefühl und eine exzellente Kondition dazu. Der Kia cee´d 5-Türer zeigt, wie es geht. Als Kia DREAM-TEAM Edition mit hohem Kundenvorteil und vielen serienmäßigen Extras z.B.:')(list= ['Lenkrad beheizbar', 'Sitzheizung (vorn)', 'Parksensoren (hinten)', 'Abbiegelicht', 'LED-Tageslicht', 'Elektrische Fensterheber'])
    div
      +carmodel('ceedsw', '/assets/img/modell_ceed-sw_300x260.png', 'Kia cee’d Sportswagon DREAM-TEAM', 'Zuverlässige Technik, überraschende Einfälle und zielgerichtete Kraft sind richtig kombiniert im Kia cee’d Sportswagon. Übersetzt man diese Qualitäten in ergonomisches Design, entsteht ein Kombi mit weltmeisterlichen Qualitäten inklusive vielen serienmäßigen Extras z.B.:')(list= ['Lenkrad beheizbar', 'Sitzheizung (vorn)', 'Parksensoren (hinten)','Abbiegelicht', 'LED-Tageslicht', 'Elektrische Fensterheber'])
    div
      +carmodel('venga','/assets/img/modell_venga_300x260.png', 'Kia Venga DREAM-TEAM Edition','Kann man vom äußeren Erscheinungsbild eines Teams auf spielerische Qualitäten schließen? Beim Kia Venga dürfen Sie das. Sein Design, das mit dem Red Dot Award 2010 ausgezeichnet wurde, spiegelt eine identitätsstarke Persönlichkeit wider. In der DREAM-TEAM inklusive z.B. mit:')(list= ['Smart Key', 'Startknopf', 'Parksensoren (hinten)', 'Sitzheizung (vorn) und Klimaautomatik', 'Elektrische Fensterheber'])
    div
      +carmodel('sportage', '/assets/img/modell_sportage_300x260.png', 'Kia Sportage DREAM-TEAM Edition', 'Auch der Kia Sportage überrascht mit ungewohnten Dimensionen. Sein preisgekröntes Design verbindet riesiges Raumangebot mit erfreulich sportlichem Fahrspaß und einem für Kompakt-SUVs ungewöhnlichen Limousinen-Komfort. In der DREAM-TEAM überrascht er inklusive z.B. mit:')(list= ['2-Zonen-Klimaautomatik', 'Rückfahrkamera', 'Sitzheizung','Intelligentes Parksystem (SPAS)', 'Privacy Verglasung'])
    div
      +carmodel('carens', '/assets/img/modell_carens_300x260.png', 'Kia Carens DREAM-TEAM', 'Im Kia Carens DREAM-TEAM hat die ganze Familie Platz. Durch den großzügigen und flexiblen Stauraum gehören Platzprobleme der Vergangenheit an. Mit hohem Kundenvorteil, dem einzigartigen Kia-Qualitätsversprechen und vielen serienmäßigen Extras z.B.')(list= ['2-Zonen-Klimaautomatik','Sitzheizung (vorn)','beheizbares Leder-Multifunktionslenkrad', 'Parksensoren'])
