section#probefahrtform.content-20.v-center
  div
    .container
      .row
        .col-sm-10.col-sm-offset-1
          h2 Jetzt Probefahren
            sup ***

      .row
        .col-sm-10.col-sm-offset-1
          .signup-form
            form.clearfix
              .form-group
                include ../partials/probefahrtform1
          p.small.white
            sup ***
            | Nur solange Vorrat reicht und einen Ball pro Haushalt. Keine Barauszahlung möglich.
