header.header-1
  .container
    .row
      .navbar.col-sm-12.navbar-fixed-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button')
          a.brand(href='#')
            img(src='/assets/img/logo.svg', alt='Kia Motors Deutschland')
            |  Werner Automobile GmbH
        .navbar-collapse.collapse
          ul.nav.pull-right

            li
              a(href='#aktionsmodelle', data-scrollto="#aktionsmodelle").scrollnav Aktionsmodelle
            li
              a(href='#probefahrtform', data-scrollto="#probefahrtform").scrollnav Probefahrt
            li
              a(href='#dealerinfo' data-scrollto="#dealerinfo").scrollnav Kontakt

            li
              a(href='#') Impressums
